@page "/convert"

<h1>Convert Inch to/from Centimeter</h1>

<label>Inches</label>
<input type="number"@bind-value="Inches"
                    @bind-value:event="oninput" />

<span> = </span>

<input type="number" @bind-value="Centimeters"
                     @bind-value:event="oninput" />
<label>Centimeters</label>

@code{
    double inches = 1;
    double centimeters = 2.54;

    public double Inches{
        get => inches;
        set{
            inches = value;
            centimeters = inches * 2.54;
        }
    }
    public double Centimeters{
        get => centimeters;
        set{
            centimeters = value;
            inches = centimeters / 2.54;
        }
    }
}
