@inject IJSRuntime js

@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="alert alert-info my-2">
        Click here to switch themes
            <button @onclick="SwapTheme">@SetThemeName Mode</button>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

@code {
    bool isDark = false;
    string SetThemeName => isDark ? "app-dark" : "app";
    async Task SwapTheme()
    {
        isDark = !isDark;
        await js.InvokeVoidAsync("themeChooser.setTheme", SetThemeName);
    }
}
